[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Scrapy = "*"
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"
humanfriendly = "*"
dateparser = "*"
furl = "*"
pygogo = "*"
Twisted = "*"
click = "*"
pyperclip = "*"
colored = "*"
yaspin = "*"
"pypiwin32" = {version = "*", os_name = "== 'windows'"}


[dev-packages]

ptpython = "*"
"flake8" = "*"
Sphinx = "*"
CProfileV = "*"
sphinx-click = "*"
Flask-Sphinx-Themes = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
