[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

scrapy = "*"
"beautifulsoup4" = "*"
lxml = "*"
requests = "*"
humanfriendly = "*"
dateparser = "*"
furl = "*"
pygogo = "*"
twisted = "*"
click = "*"
pyperclip = "*"
colored = "*"
yaspin = "*"
"pypiwin32" = {version = "*", os_name = "== 'windows'"}


[dev-packages]

ptpython = "*"
"flake8" = "*"
sphinx = "*"
cprofilev = "*"
sphinx-click = "*"
flask-sphinx-themes = "*"
nose = "*"
coverage = "*"
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
