scrapy
beautifulsoup4
lxml
requests
humanfriendly
dateparser
furl
pygogo
twisted
click
pyperclip
colored
yaspin

# NOTE: required for readthedocs.io
flask-sphinx-themes
sphinx_click

# NOTE: required for twisted on win32
# pypiwin32
